extends base

block TopBar
    include widgets/_topBar

    block MainContent
        .container-fluid


    block footer
        include widgets/_footer

block LogoutModal
    include widgets/_logoutModal

